## Task 1: Practice with Series
Write a python script to:
- Create a Series of the following names: “david”, “jess”, “mark” and “laura”
- Loop over the list
- Print the name if the user’s name is not “mark”

In [1]:
# Import external library
import pandas as pd

In [2]:
# Create a Series of the following names: “david”, “jess”, “mark” and “laura”
names = ['david','jess','mark','laura']

# Loop over the list
for name_i in names:
    # Print the name if the user’s name is not “mark”
    if name_i != 'mark':
        print(name_i)

david
jess
laura

In [9]:
# Or we can use the List Comprehension capability of Python list for more clean code
names_no_mark = [name_i for name_i in names if name_i != 'mark']
print(names_no_mark)

['david', 'jess', 'laura']

## Task 2: Practice with date_parser

Download “parse_ex1.csv” and “parse_ex2.csv” from Canvas and then load these 2
datasets, respectively.
You need to store the data into 2 Series variables and then use time information
(the first column in your dataset) as the index.
Hint: you may refer to step 5.1 in your week 1 tutorial document.

In [12]:
# Read parse_ex1.csv data and set the first column to be the index column
parse_ex1 = pd.read_csv('parse_ex1.csv')
parse_ex1['Date'] = pd.to_datetime(parse_ex1['Date'])
parse_ex1.set_index('Date', inplace=True)
parse_ex1.head()

            Sales
Date
1949-01-01    172
1949-01-02    185

In [15]:
# Read parse_ex2.csv data and set the first column to be the index column
parse_ex2 = pd.read_csv('parse_ex2.csv')
parse_ex2['Time'] = pd.to_datetime(parse_ex2['Time'])
parse_ex2.set_index('Time', inplace=True)
parse_ex2.head()

                     Sales
Time
1949-01-01 07:00:00    112
1949-01-02 07:00:00    118